@media (min-width: 576px) {
    .height-series-anime {
        min-height: 20rem;
        max-height: 20rem;
    }
}

@media (max-width: 575.98px) {
    .height-series-anime {
        min-height: 16rem;
        max-height: 16rem;
    }
}

@media (max-width: 375px) {
    .height-series-anime {
        min-height: 13rem;
        max-height: 13rem;
    }
}

.-z-1 {
    z-index: -1;
}

.moonlit-asteroit {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.purple-bliss {
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #360033, #0b8793);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #360033, #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}